
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
   font-family: 'cairo' ;
   padding:0px;
   margin:0px;
   box-sizing:border-box;
}
header {
    display: flex;
    justify-content: space-between; 
    align-items :center;
    background-color: #2C3E50;
    color:white;
    padding : 0px 100px;
    border-top:solid crismon 4 px;
    position:fixed;
    width:100%
        }
header a { 
    color:white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
    transition: ease 1s;
   
}
header a:hover{
    color:#1ABC9C;
    font-size: 20px;
    
} 
.carsour {
    background-color:hsl(30, 1%, 46%);
    height: 100vh;
    display:flex;
    align-items: center;
    color:white;
    padding:0px 80px;
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-position: center;;
}
.carsour span { 
    color:crimson;
}
.carsour h2 {
    color:#2C3E50
}
.carsour a {
    text-decoration: none;
    color:white;
    background-color:#1ABC9C;
    padding:10px;
    border-radius:10px;
    display :inline-block;
    margin-top:10px;
    font-size:18px;

}
.carsour a:hover {
font-size:20px;
}